header{
    text-align: center;
    font-size: 40px;
    color: gray;
}
nav{
    border-style: solid;
    width: 180px;
}
a{
    text-decoration: none;
}
.column_nav {
    float: left;
    width: 740px;
    overflow: hidden;
    width: 200px;
}
.column_section {
    position: absolute;
    left: 200px;
    text-align: center;
    width: 332px;
    overflow: hidden;
}
