header{
    color: blue;
    text-align: center;
    font-size: 50px;
}
nav{
    float: left;
    width: 150px;
    border-style: solid;
    margin-right: 30px;
}
a{
    text-decoration: none;
}
section{
    position: absolute; left: 200px;
    border-style: dotted;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 350px;
    margin-bottom: 40px;
}
sub1{
    font-size: 25px;
    color: brown;
}
.ansan{
    background-image: url("img/ansan.png");
    background-size: 100% 100%;
}
.ms{
    background-image: url("img/공작사.png");
    background-size: 100% 100%;
}
.a{
    font-weight: bold;
    color: #000000;

}
